<div class="container mt-5">
    <h1>Bienvenido al Centro Médico Huerta Robles</h1>
    <p class="lead">Portal de atención al paciente y gestión de citas.</p>
    
    <div class="d-grid gap-2 col-8 mx-auto">
      <a routerLink="/intranet/agendar-cita" class="btn btn-success btn-lg">Agendar Cita Ahora</a>
      <a routerLink="/login" class="btn btn-outline-secondary">Acceso a Intranet / Dashboard</a>
      <a routerLink="/citas" class="btn btn-outline-info">Ver Opciones de Citas</a>
    </div>
</div>